#rf-content{
    margin-top: 3.6rem 0rem;
    padding: 0rem 2.8rem;
}

#tasks-file-approval > div > div > button{
    margin-bottom: 1.6rem;
}

#tasks-file-approval > div > div > button > span > svg, path + path{
    height: 2.4rem;
}

#tasks-file-approval > div > div > button > span + span{
    line-height: 2.4rem;
    font-size: 1.6rem;
}

#tasks-file-approval > div > div > div.file-approval-header > h1 > span{
    background: #999999;
    border: 0px;
    cursor: pointer;
}

#tasks-file-approval > div > div > div.file-approval-header > h1 > span > span{
    color: #FFFFFF;
    padding: 0.3rem;
    font-size: 1.6rem;
    font-weight: normal;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > h4{

    position: relative;
    font-weight: normal;
    color: #000000;
    font-size: 1.8rem;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > h4::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: #7F7F7F;
    margin-top: 1.2rem;
    width: 100%;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.file-approval-content-section > div{
    width: 90%;
    margin: 1.8rem auto;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.file-approval-content-section > div > p{
     font-weight: normal;
    color: #000000;
    font-size: 1.6rem;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.file-approval-content-section{
    position: relative;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.file-approval-content-section::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: #7F7F7F;
    margin-bottom: 1.2rem;
    width: 100%;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.activity-footer{
    display: flex;
    justify-content: center;
    margin: 0rem auto;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.activity-footer > div > button.mdBtnR.mdBtnR-outline-primary{
    background:#0076CB;
    border: 0px;
    outline: 0px;
    border-radius: 0px;
    padding: 1rem
    
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.activity-footer > div > button.mdBtnR.mdBtnR-outline-primary > span{
    color: #FFFFFF;
    padding: 0rem 0.7rem;
    font-weight: normal;
    text-transform: capitalize;
    
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar{

    margin-top: 3.5rem;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar > div > h4{
    position: relative;
    font-weight: normal;
    color: #000000;
    font-size: 1.8rem;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar > div > h4::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: #7F7F7F;
    margin-top: 1.2rem;
    width: 100%;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar > div > div{

    width: 90%;
    margin: 1.8rem auto;
    display: flex;
    justify-content: center;
}

#tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar > div > div > ul > li > span{
    color: #000000;
}

@media screen and (min-width: 768px){
    #tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-activity.rf-flex-grow-2 > div.activity-footer{
    justify-content: end;
}

    #tasks-file-approval > div > div > div.file-approval-activity-container.rf-simple-flex-grid > div.file-approval-sidebar{

    margin-top: 0rem;
    margin-left: 2.5rem;
}
}

