
#myDynamicForm > div.workflow-footer-buttons > div > div {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border: 1.5px solid lightgray;
    height: 70px;
}

#myDynamicForm
    > div.workflow-footer-buttons
    > div
    > div
    > div
    > label
    > span.rf-checkbox-label {
    color: black;
}

#myDynamicForm > div.workflow-footer-buttons > div > div > a {
    background-color: #0076cb;
    margin-left: 10px;
    margin-right: 0px;
    border: 0px;
    border-radius: 0;
    padding: 16px 0px;
    width: 90px;
}

#myDynamicForm > div.workflow-footer-buttons > div > div > a > span {
    color: white;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 16px;
}

#myDynamicForm > div.workflow-footer-buttons > div > div > div path {
    height: 25px;
    width: 25px;
    border: 1.5px solid gray;
    display: grid;
    place-items: center;
    padding: 5px;
}

#myDynamicForm > div.workflow-footer-buttons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#myDynamicForm > div.workflow-footer-buttons > div > a {
    background-color: #bababa;
    border: 0px;
    border-radius: 0;
    margin-right: 20px;
    padding: 8px 0px;
    outline: 0px;
    height: 50px;
    width: 100px;
    display: grid;
    place-items: center;
}

#myDynamicForm > div.workflow-footer-buttons > div > a > span {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

#special-div > div > div.rf-workflow-header > div.rfwf-full-panel.rfwf-header {
    background: red;
    visibility: hidden;
}

#myDynamicForm > div.workflow-footer-buttons {
    position: relative;
}

#myDynamicForm > div.workflow-footer-buttons::before {
    content: "";
    position: ebsolute;
    border: 0.5px solid lightgray;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#special-div
    > div
    > div.rf-workflow-header
    > div.rfwf-full-panel.rfwf-subheader
    > div
    > p
    > a {
    position: relative;
    color: #0076cb;
}

#special-div
    > div
    > div.rf-workflow-header
    > div.rfwf-full-panel.rfwf-subheader
    > div
    > p
    > a::before {
    content: "\f104";
    position: ebsolute;
    display: inline;
    margin-right: 3px;
}

#special-div {
    margin: 52px 80px 0px 80px;
}

@media screen and (max-width: 768px) {
    #special-div {
        margin: 36px 28px 0px 29px;
    }
    #formAttendee-bio {
        box-shadow: 7px 6px 16px -9px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 7px 6px 16px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px 6px 16px -9px rgba(0, 0, 0, 0.75);
    }
    #myDynamicForm > div.workflow-footer-buttons > div > div {
        width: 100%;
        justify-content: space-between;
    }
    #myDynamicForm > div.workflow-footer-buttons > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    #myDynamicForm > div.workflow-footer-buttons > div > a {
        margin-top: 20px;
        box-shadow: -2px 8px 7px -6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -2px 8px 7px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 8px 7px -6px rgba(0, 0, 0, 0.75);
    }

    #myDynamicForm > div.workflow-footer-buttons > div > div > a {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1300px) {
    #special-div {
        display: grid;
        place-items: center;
        margin: 52px 90px 0px 90px;
    }
}
